*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    padding-top: 20px;
    width: 80%;
    height: 500px;
    border-bottom: 20px solid rgb(6, 158, 6) ;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background:linear-gradient(rgb(48, 189, 224), rgb(202, 240, 249));
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.4s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;

}

.jump{
    animation: jump 500ms ease-out; 
}

.andar{
    animation: andar 6000ms ease; 
}

.clouds{
    position: absolute;
    width: 550px;
    animation: voar 20s infinite linear;
}

#numLoops{
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Luckiest Guy', cursive;
}
.castelo{
    width: 400px;
    position :absolute;
    right: -180px;
}

@keyframes pipe-animation{
    from {
        right: -80px;
    }

    to{
        right: 100%;
    }

}

@keyframes jump{
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes voar{
    from{

        right: -550px
    }
    to {
        right: 100%
    }
}
@keyframes andar{
    from{
        right: 1000px;
    }
    to{
        right: -50px;
    }
}