
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #091333;
  margin: 0;
  padding: 0;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 50px;
}


#perg {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}


#resposta {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  background-color: #f1d015;
  color: #161616;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#chec {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}


button#proximo {
  background-color: #f1d015;
  color: #161616;
}

button#proximo:hover {
  background-color: #0056b3;
}
#title{
  color: bisque;
  padding-bottom: 10%;
}
#final{
  font-size: 50px;
  padding-bottom: 30px;
      color: #f0f0f0;
}